.grid-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0px;
}

.grid .video{
    flex: 1;
    max-width: 382px;
    min-width: 300px;
    max-height: 340px;
    min-height: 250px;
    margin: 6px;
}


.grid-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 25px;
}

.shorts-mobile-div{
    flex: 1;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}
.shorts-image-mobile{
    height: 100%;
    position: relative;
}
.shorts-image-mobile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center ;
}
.shorts-detail-mobile{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
}



.grid-mobile{
    display: none;
}
.grid-mobile-short-row{
    display: flex;
    align-items: center;
    gap: 12px;
}