.rv-unit{
    display: flex;
    align-items: center;
    height: 94px;
    font-size: 14px;
    gap: 8px;
    width: 100%;
}
.rv-image-div{
    min-width: 168px;
    max-width: 168px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.rv-title{
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}
.rv-image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.rv-stats{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 2.5px;
}
.rv-author{
    font-size: 12px;
    padding-top: 5px;
}
.rv-pfp{
    display: none;
    width: 12.5%;
}
.rv-pfp img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.rv-grid a{
    width: 100%;
}