.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 65px;
    width: 72px;
    padding-left: 8px;
    transition: width 0.5s ease;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
}

.sidebar:hover{
    padding-right: 0px;
    overflow: visible;
    overflow-x: hidden;
}

.sidebar-open{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 204px;
    background-color: #fff;
}
.sidebar-close{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar::-webkit-scrollbar {
    width: 7.75px;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}
.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar-extended{
    width: 226px;
}

.sb-close-unit{
    height: 74px;
    width: 100%;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.sb-close-unit span{
    font-size: 10px;
}
.sb-close-unit:hover{
    background-color: #f1f1f1;
}
.sb-close-unit:active{
    background-color: #ddd;
}

.sb-comp{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 12px 0px;
}
.sb-comp span{
    font-size: 14px;
}
.sb-unit{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    padding: 0px 12px;
    cursor: pointer;
}
.sb-unit:hover{
    background-color: #f3f3f3;
}
.sb-unit:active{
    background-color: #ddd;
}

.sb-unit img{
    width: 24px;
    height: 24px;
}

.sb-active{
    background-color: #f3f3f3;
}
.sb-active{
    font-weight: 500;
}
.sb-active:hover{
    background-color: #ddd;
}
.sb-active:active{
    background-color: #ccc;
}  
.comp-heading{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 7px;
    padding: 0px 12px;
    margin-bottom: 7px;
}
