
.video-helper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.video-link{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.thumbnail{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.vid-details{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.vid-pfp{
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7.5px;
}
.vid-pfp-link{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.vid-pfp img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.vid-info{
    flex: 1;
    height: 100%;
    padding: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 0px;
}
.vid-title{
    display: flex;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.vid-info-er{
    width: 100%;
    font-size: 14px;
    color: #606060;
}
.vid-author-div{
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
}
.vid-verification{
    fill: #606060;
    height: 15px;
    width: 15px;
}
.vid-stats-div{
    display: flex;
    align-items: center;
    gap:4.5px;
}
.vid-dot{
    height: 2px;
    width: 2.5px;
    background-color: #606060;
    border-radius:1.5px;
    overflow: hidden;
}

.vid-tt{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    box-sizing: content-box;
    padding: 3px 4px;
    height: 12px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5px;
}
.bruh-work{
    position: absolute;
    top: 10%;
    width: 40px;
    height: 40px;
    right: -10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.bruh-work:active{
    background-color: rgba(0,0,0,0.2);
}
.bruh-work img{
    width: 24px;
    height: 24px;
}
.delete-pop{
    position: absolute;
    top: 25%;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius:10px;
    font-size: 14px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.delete-pop-unit{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.delete-pop-unit:hover{
    background-color: rgba(0,0,0,0.05);
}
.delete-pop-unit:active{
    background-color: rgba(0,0,0,0.1);
}
.delete-pop-unit img{
    width: 24px;
    height: 24px;
}