@media (max-width:1035px){
    .gridshorts{
        display: none;
    }
    .grid-mobile{
        display: flex;
    }
}
@media (max-width:1000px){
    .videopage-helper{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .videopage-first{
        flex: none;
        width: 100%;
    }
    .videopage-second{
        width: 100%;
    }
}
@media (max-width:700px){
    .mv-mobile-view-something{  
        width: 96%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .mv-buttons-first{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
    }
    .mv-buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .mv-buttons-first{
        flex: none;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 54px;
    }
    .mv-buttons-second{
        flex:none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        height: 54px;
        width: 100%;
    }
    .mv{
        border-radius: 0px;
    }
    .videopage{
        top: 60px;
    }
}
@media (max-width:550px){
    
    .sidebar{
        width: 0px;
        padding-left: 0px;
    }
    header{
        height: 7%;
    }
    .header-third{
        width: 60%;
    }
    .tags-container{
        top: 7%;
    }
    .tags-header-mobile{
        display: flex;
    }
    .tags-header{
        display: none;
    }
    .tag-next-div,
    .tag-prev-div,
    .sidebar-close,
    .sidebar-open,
    .tags-helper,
    .header-second,
    #h-download,
    #bm {
        display: none;
    }

    .mobile-search{
        display: flex;
    }
    main{
        top: calc(56px + 56px);
    }
    .grid{
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }
    .video{
        max-width: 100%;
        width: 100%;
        margin-bottom: 0px;
        flex: none;
    }
    .thumbnail{
        border-radius: 0px;
    }
    .vid-details{
        padding: 7.5px;
        width: 100%;
        flex: none;
        display: flex;
        justify-content: space-between;
    }
    
    .vid-info{
        flex: 1;
        height:auto;
    }
    .vid-title{
        width: 100%;
        height: auto;
        font-weight: 500;
        font-size: 16px;
        overflow: hidden;
    }
    .vid-info-er{
        height: auto;
        width: 100%;
    }
    footer{
        display: flex;
    }
    
    .rv-unit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 300px;
        gap: 10px;
        width: 100%;
    }
    .rv-image-div{
        height: 80%;
        border-radius: 0px;
        overflow: hidden;
        width: 100%;
    }
    .rv-details{
        width: 100%;
        display: flex;
    }
    .rv-pfp{
        display: flex;
        justify-content: center;
    }
    .rv-author{
        padding-top: 0px;
    }
    .rv-rest{
        padding-bottom: 5px;
    }

    .grid-mobile-short-row{
        width: 98%;
        gap: 8px;
    }
    .grid{
        margin: 0;
    }
    .grid .video{
        width: 100%;
        max-width: none;
        margin:0px;
        min-height: 300px;
    }
    .video-helper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width:100%;
    }
    .video-link{
        width: 100%;
        height: 70%!important;
    }
    .vid-details{
        height: 30%;
        width: 100%;
    }
    .vid-info{
        height: 100%;
        padding: 0;
        padding-top: 5px;
        padding-left: 5px;
    } 
    .vid-info-er{
        display: flex;
        flex-direction: row;
        gap: 4px;
        padding-bottom: 10px;
    }
    .vid-author-div{
        gap: 2.5px;
    }
    .playlist-unit{
        border: 1px solid rgba(0,0,0,0.3);
        padding: 0;
    }
    .rv-details .rv-pfp{
        display: none;
    }
    .rv-image-div{
        width: 100%;
        max-width: none;
    }
    .rv-details{
        padding-left: 20px;
    }
    .channel-page{
       left: 0;
       padding-left: 0px;
       position: relative;
    }   
    .channel-pfp img{
        width: 80px;
        height: 80px;
    }
    .channel-info{
        flex-direction: column;
    }
    .channel-vids-grid{
        padding: 0;
    }
    .channel-name{
        font-size: 24px;
    }
}